body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

h1, h2 {
    margin-top: 0px;
    text-align: center;
    color: #fff;
}

.container {
    height:75vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 50px;
}

.top-half {
    flex: 0.9;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}


.graph-container {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #555;
    position: relative;
    background-color: #333;
}

canvas {
    width: 100%;
    height: 100%;
}

.chart {
    height: 100%;
    width: 100%;
}

.graph-container button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .bottom-half {
        flex-direction: column;
    }
}

header {
    background:rgba(63,63,70,1);
    color: white;
    flex: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px 4px 0px;
    font-size: 10px;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    height: fit-content;
}
.header-left {
    display: flex;
    align-items: center;
    position: relative;
}
.header-right {
    display: flex;
    align-items: center;
}
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background:rgba(63,63,70,1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
}
  
.bottom-nav-button {
    font-size: 18px;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
  }

.bottom-nav-button:hover {
    color: rgba(6,174,212,1);
}
.search-button,
.profile-button {
  font-size: 24px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: rgba(6,174,212,1);
}
.image-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    
}
  
.image-button img {
    width: 20px;
    height: 20px;
}
  
.image-button:hover {
    opacity: 0.8;
    color: rgba(6,174,212,1);
}
.hamburger-menu {
    font-size: 16px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 10%;
    height: 100%;
    background:rgba(63,63,70,1);
    box-shadow:0px 8px 24px rgba(0,0,0,0.64);
    padding: 10px 20px;
    z-index: 1;
}
  
.menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.menu-button {
    font-size: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;    
    color: white;
}

.menu-button:hover {
    color: rgba(6,174,212,1);
}

input,
select {
    width: 25%;
    padding:8px 12px 8px 12px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    position: relative;
    top: 0px; left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(41, 37, 36);
    font-size:16px;
    font-weight:400;
}

#student-select{
    width: 15%;
}

.empty-message {
    display: none; /* Hide the message by default */
    text-align: center;
    color: #999;
    font-style: italic;
}

#blur-layer {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63,63,70,0.5); /* Semi-transparent white */
    backdrop-filter: blur(5px); /* Apply a blur effect */
    display: none; /* Hide initially */
    z-index: 1;
}