body, html {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background:black;
  }
  
  .container {
   overflow: hidden;
   align-items:flex-start;
   position:absolute;
    width: 100%;
    display: flex;
    flex: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    z-index:10;
    left:0px;
    right:0px;
    top:0px;
  }
  
  .logo {
     width:auto; 
     height:100px;
     margin-bottom: 0.5px;
     border-radius: 5px; 
     display: block;
  }
  
  h1 {
     color:white; 
     font-size:2em; 
     font-family: Arial, sans-serif;
  }
  
  p {
     color:white; 
     font-size:1.5em;
     font-family: Arial, sans-serif;
  }
  
  button {
     padding:10px 20px; 
     border:none; 
     background-color:#282626;
     color:rgba(6,174,212,1);
     cursor: pointer;
     border-radius: 5px;
     margin-top: 3rem;
     font-weight: bold;
     font-size: 1em;
     font-family: Arial, sans-serif;
  }
  