body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgba(24,24,27,1);
}
header {
    background:rgba(63,63,70,1);
    color: white;
    flex: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px 4px 0px;
    font-size: 10px;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    height: fit-content;
}
.header-left {
    display: flex;
    align-items: center;
    position: relative;
}
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background:rgba(63,63,70,1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
.bottom-nav-button {
    font-size: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    color: white;
  }
.bottom-nav-button:hover {
    color: rgba(6,174,212,1);
}
.hamburger-menu {
    font-size: 16px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 10%;
    height: 100%;
    background:rgba(63,63,70,1);
    box-shadow:0px 8px 24px rgba(0,0,0,0.64);
    padding: 10px 20px;
    z-index: 1;
}
  
.menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.menu-button {
    font-size: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    color: white;
}
.header-right {
    display: flex;
    align-items: center;
}
.search-button,
.profile-button {
  font-size: 24px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-button:hover,
.profile-button:hover {
    color: rgba(6,174,212,1);
}

.image-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
  
.image-button img {
    width: 20px;
    height: 20px;
}
  
.image-button:hover {
    color: rgba(6,174,212,1);
}
.menu-button:hover {
    color: rgba(6,174,212,1);
  }
.header h1 {
    margin: 0;
    font-size: 24px;
}
.banner {
    background-image: url('https://images.unsplash.com/photo-1509869175650-a1d97972541a?ixid=M3wxMzQ4Mzl8MHwxfHNlYXJjaHwyfHxjbGFzc3Jvb20lMjBib2FyZHxlbnwwfDB8fHwxNzA2NDk3NDI3fDA&ixlib=rb-4.0.3&fm=jpg&w=2560');
    background-size: cover;
    background-position: center;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-overlay h2 {
    margin: 0;
    font-size: 36px;
    color: white;
    text-align: center;
}
.banner-overlay button {
    background-color: rgba(6,174,212,1);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.add-new {
    background-color: rgba(6,174,212,1);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.add-new:focus {
    outline: none;
}
.course-list {
    background: rgba(24,24,27,1);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
}
.course-list h2 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 20px;
}
.course-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
    max-width: 500px;
}
.course-list li:first-child {
    margin-top: 0;
}
.course-list li:last-child {
    margin-bottom: none;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.pagination a {
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.pagination a:hover {
    background: rgba(6,174,212,1);
}
.pagination .active {
    background: rgba(6,174,212,1);
}
.navigation {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.navigation img {
    height: 30px;
}
.navigation .icons {
    display: flex;
    align-items: center;
}
.navigation .icons img {
    height: 20px;
    margin-left: 10px;
}
.fa {
    margin-right: 5px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
}

th {
    background-color: rgba(24,24,27,1);
}

.delete-btn {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#blur-layer {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63,63,70,0.5); /* Semi-transparent white */
    backdrop-filter: blur(5px); /* Apply a blur effect */
    display: none; /* Hide initially */
    z-index: 1;
}